=render "layouts/navbar"
.container.grey.lighten-3
  .row
    .col.s12.l12
      .row
        .col.s12.l12
          %h1.center-align Editar Solicitud
      .row
        .col.s12.l12
          = render 'form'

=render "layouts/footer"
