=render "layouts/navbar"
.container.grey.lighten-3
  .row
    .col.s12.l12
      .row
        .col.s12.l12
          %h4.center-align Nuevo Compareciente
      .row
        .col.s12.l12
          = render 'form'

=render "layouts/footer"